<!DOCTYPE html>
<html lang="en" class="bg-gradient-to-r from-brand via-new to-care">
<head><meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="{{ css }}" rel="stylesheet">

  <meta name="description" content="{{ attr.description }}" />
  <title>{{ attr.title }}</title>
</head>
<body class="mt-2 bg-white">
  <div class="container mx-auto max-w-4xl">

    <header class="text-center font-serif p-16 md:p-36 space-y-3 md:space-y-4">
      <h1 class="text-4xl font-semibold ">
        Alternative Versioning
        <sup class="font-normal font-mono text-lg text-gray-blue-800 italic">beta</sup>
      </h1>

      <div class="text-lg md:text-xl">
        <a href="https://altver.org/"><span class="font-mono text-base md:text-lg">AltVer</span></a>
          is a relaxed alternative to
          <a target="_blank" href="https://semver.org/"><span class="font-mono text-base md:text-lg">SemVer</span></a>.
      </div>
    </header>

    <div class="
      -mt-24 p-1.5 md:p-0
      prose prose-lg md:prose-xl
      leading-6 md:leading-7 font-body
      max-w-none
      prose-headings:font-heading prose-headings:font-semibold
      prose-a:text-gray-blue-700 prose-a:underline
      prose-h2:mt-20 md:prose-h2:mt-28 md:prose-h2:text-3xl
      prose-h3:mt-16 md:prose-h3:mt-20 md:prose-h3:text-xl
    ">
      {{{ body }}}
    </div>

    <footer class="mt-24 md:mt-32 px-2 py-4 md:-y- md:px-0 8 flex items-center justify-between text-gray-500 text-sm ">
      <div>Specified by <a class="underline" href="https://julienbourdeau.com">Julien Bourdeau</a></div>
      <div>
        <a class="font-bold" href="https://creativecommons.org/licenses/by/4.0/deed.en/">CC BY 4.0</a>
      </div>
    </footer>
  </div>
</body>
</html>
